{% extends 'base.html' %}

{% load static %}

{% block title %}
    Contact
{% endblock title %}

{% load crispy_forms_tags %}

{% block header %}
    <header class="masthead" style="background-image:url('{% static "img/contact-bg.jpg" %}');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto">
                    <div class="site-heading">
                        <h1>Me Contacter</h1>
                        <span class="subheading">Vous avez des questions? | J'ai des réponses.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock header %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto">
                <p>
                    Vous souhaitez me contacter? 
                    Remplissez le formulaire ci-dessous pour m'envoyer un message et 
                    je vous répondrai dans les plus brefs délais!
                </p>
                {% include "alertes.html" %}
                <form id="contactForm" name="sentMessage" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            {{ form.name|as_crispy_field }}
                        </div>
                        <div class="col-12 col-lg-6">
                            {{ form.email|as_crispy_field }}
                        </div>
                    </div>
                    {{ form.content|as_crispy_field }}
                    <div class="form-group">
                        <button class="btn btn-primary" id="sendMessageButton" type="submit">Envoyer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <hr>
{% endblock content %}